<footer style="background-color: #333333; color: #ffffff;  text-align: center; bottom: 0;">
  <div class="footer-container" style="max-width: 1200px; margin: 0 auto;">
    <p>Contact Us:</p>
    <p>School Address: <%=schoolname.address%></p>
    <p>Phone: <%=schoolname.mobile_number%> | Email: <%=schoolname.email%></p>
    <div>
      <a href="https://www.linkedin.com/in/jaya-krishna-anugandula-14b550262/" style="color: #2575fc; margin-right: 10px;">LinkedIn</a>
      <a href="https://github.com/Krishna-JK-14" style="color: #2575fc;">Github</a>
    </div>
  </div>
</footer>
<button onclick="window.scrollTo(0, 0)" style="position: fixed; bottom: 20px; right: 20px; background-color: #2575fc; color: white; padding: 10px 15px; border: none; cursor: pointer;">Back to Top</button>
